image: maven:3.3.9-jdk-8

stages:
- validate
- build

variables:
  # This will supress any download for dependencies and plugins or upload messages which would clutter the console log.
  # `showDateTime` will show the passed time in milliseconds. You need to specify `--batch-mode` to make this work.
  MAVEN_OPTS: "-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN -Dorg.slf4j.simpleLogger.showDateTime=true -Djava.awt.headless=true"
  # As of Maven 3.3.0 instead of this you may define these options in `.mvn/maven.config` so the same config is used
  # when running from the command line.
  # `installAtEnd` and `deployAtEnd`are only effective with recent version of the corresponding plugins.
  MAVEN_CLI_OPTS: "--batch-mode --errors --fail-at-end --show-version -DinstallAtEnd=true -DdeployAtEnd=true"

# Cache downloaded dependencies and plugins between builds.
cache:
  paths:
    - /root/.m2/repository/

validate:
  stage: validate
  script:
    - 'mvn $MAVEN_CLI_OPTS validate'

build:
  stage: build
  script:
    - 'mvn $MAVEN_CLI_OPTS package'
  artifacts:
    expire_in: 1 week
    paths:
      - target/*.jar

codacy:
  stage: build
  script:
    - curl https://api.codacy.com/events/push/36620220e03f4a239d6d6d99b0909d9a
  allow_failure: false